* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.header {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cadre-login {
  width: 400px;
  padding: 60px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.form-footer p {
  margin-right: 10px;
  color: #007bff;
}
.alert-error {
  color: red;
  font-size: 14px;
  margin-left: 40px;
}
.cadre-register {
  width: 400px;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.btn-pmb {
  background-color: #b81212;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: default;
  height: 44px;
  margin-right: 10px;
  margin-bottom: 60px;
}
.btn-register {
  background-color: #b81212;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  align-self: center;
  font-size: 16px;
  cursor: default;
  height: 44px;
  margin-right: 10px;
  margin-bottom: 60px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 100%;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.register-form {
  width: 100%;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.login-form input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 80%;
  max-width: 300px;
  margin-left: 40px;
  box-sizing: border-box;
}
.register-form input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-width: 300px;
  width: 80%;
  box-sizing: border-box;
}
.submit-login {
  background-color: #044992;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  width: 150px;
  height: 44px;
  padding: 10px 20px;
  margin-left: 30px;
  margin-top: 60px;
}
.submit-register {
  background-color: #044992;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  width: 150px;
  height: 44px;
  padding: 10px 20px;
  margin-top: 60px;
}
.submit-login:hover {
  background-color: #0069d9;
}
.submit-register:hover {
  background-color: #0069d9;
}
.styled-input::placeholder {
  font-weight: bold;
  color: #808080;
}
.form-footer {
  margin-top: 20px;
  font-size: 13px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.link {
  color: #007bff;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.separator {
  color: #999;
}
.alert-danger {
  position: absolute;
  font-size: 14px;
  bottom: 80px;
  color: red;
}
.alert-danger p {
  font-style: italic;
  margin: 0;
}
.register-form {
  position: relative;
}
.alert-success p {
  font-style: italic;
  color: green;
  font-size: 15px;
}
.alert-email p {
  font-style: italic;
  color: red;
  font-size: 15px;
  margin-top: 10px;
}
.alert-email {
  position: absolute;
  margin-top: 230px;
}
