<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mot de passe oublié</title>
    <link
      rel="icon"
      type="image/x-icon"
      th:href="@{/images/logo-favicon.ico}"
    />
    <link rel="stylesheet" th:href="@{/css/password.css}" />
  </head>
  <body>
    <div class="header">
      <button class="btn-pmb"><strong>StockMeat Solutions</strong></button>
    </div>
    <h2>Réinitialiser votre mot de passe</h2>
    <form th:action="@{/forget-password}" method="post" class="forget-form">
      <label for="email"></label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Mail"
        class="styled-input"
        required
      />
      <button type="submit" style="cursor: pointer" class="btn-link">
        <strong>Envoyer le lien</strong>
      </button>
    </form>
    <p th:text="${message}"></p>
  </body>
</html>
