<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Réinitialise le mot de passe</title>
    <link
      rel="icon"
      type="image/x-icon"
      th:href="@{/images/logo-favicon.ico}"
    />
    <link rel="stylesheet" th:href="@{/css/password.css}" />
  </head>
  <body>
    <div class="header">
      <button class="btn-header"><strong>StockMeat Solutions</strong></button>
    </div>
    <h5 class="h5">Nouveau Mot de passe</h5>
    <form
      th:action="@{/reset-password}"
      method="post"
      class="reset-password"
      onsubmit="return validatePassword()"
    >
      <input type="hidden" name="token" th:value="${token}" />
      <label for="password"></label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Nouveau"
        class="confirmPassword"
        required
      />
      <h5>Confirmer le Mot de passe</h5>
      <label for="confirmPassword"></label>
      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirmer"
        id="confirmPassword"
        class="confirmPassword"
        required
      />
      <button type="submit" class="btn-reset">
        <strong>Réinitialiser</strong>
      </button>
    </form>

    <p th:text="${message}"></p>
    <script>
      function validatePassword() {
        const password = document.getElementById("password").value;
        const confirmPassword =
          document.getElementById("confirmPassword").value;
        if (password !== confirmPassword) {
          alert("Les mots de passe ne correspondent pas.");
          return false;
        }
        return true;
      }
    </script>
  </body>
</html>
